@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland');

body {
  margin: 0;
  background-image: url("~images/bg.png") !important;
  overflow-y: scroll;
}

div {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}
