$color-white: #ffffff;
$color-deep-orange-400: #FF7043;
$color-deep-orange-300: #FF8A65;
$color-orange-300: #FFB74D;
$color-deep-orange-50: #FBE9E7;
$color-trans-orange: rgba(251, 247, 246, 0.5);
$color-trans-orange-darker: rgba(251, 247, 246, 0.8);
$min-height: 600px;

%orange-raised-button {
  button {
    @extend %orange-button;
  }
}

%orange-button {
  background-color: $color-deep-orange-300 !important;

  &:hover {
    background-color: $color-deep-orange-400 !important;
  }

  &:disabled {
    background-color: $color-deep-orange-50 !important;
  }

  > div, span {
    color: $color-white !important;
  }

  path {
    fill: $color-white !important;
  }
}
