@import "~scss";

.landing-cmp {
  height: 100%;

  .landing-top {
    background-position: center center;
    opacity: 0.9;
    filter: alpha(opacity=90);
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    h1 {
      > a:link, > a:hover, > a:visited, > a:active {
        color: $color-orange-300 !important;
        text-decoration: none;
      }

      color: $color-orange-300 !important;
      $shadow-color: #aa0a00;
      font-weight: 300;
      font-size: 166px;
      font-family: 'Roboto', cursive;
      margin: -216px 0px 0px;
      text-shadow: 3px 3px 0 $shadow-color,
      -1px -1px 0 $shadow-color,
      1px -1px 0 $shadow-color,
      -1px 1px 0 $shadow-color,
      1px 1px 0 $shadow-color;
    }
  }

  .landing-to-action-container {
    margin: 0px auto 20px;
    text-align: center;
    display: flex;
    justify-content: center;

    > div {
      padding: 20px 30px 30px;
      background-color: $color-trans-orange-darker !important;
    }
  }

}
