@import "~scss";

.app-cmp {
  width: 80%;
  min-width: 1000px;
  margin: auto;
  margin-top: 20px;

  > div {
    background-color: $color-trans-orange !important;
  }

  .container {
    display: inline-flex;
    width: 100%;
  }

  .section {
    width: 100%;
    background: none;
    margin: 6px;
  }
}
