@import "~scss";

.film-list-cmp {
  .list-navigation {
    justify-content: center;
  }

  .search-container {
    margin-bottom: 10px;

    .search {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
